# Skapa denna fil i projektmappen:
# .env.example
VITE_SUPABASE_URL=https://ayvyiqnpggjnfqnofjpe.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF5dnlpcW5wZ2dqbmZxbm9manBlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg1NTk1MjYsImV4cCI6MjA3NDEzNTUyNn0.TGXE6kCb1p-v1mR9o6i8KYOB0cev8e6lii-YiN-b0Lw
VITE_APP_URL=http://localhost:3000